*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.icon{
    color: red;
    font-size: 50px;
    animation-name: icon;
    animation-duration: 0.45s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    cursor: pointer;
    
}
.heart{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@keyframes icon {
    from{
        font-size: 50px;
    }
    to{
        font-size: 100px;
        transform: rotateY(360deg);
    }
}
.icon:hover{
    animation-play-state: paused;
}
